* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #1a1a1a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}

.parentContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* image position */
}
.parentContainer .image-slider {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  transition: 0.7s;
}
.parentContainer .image-slider .slide-div {
  position: relative;
  width: 250px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRowEAgB_vknrMqBs2SDymSmS-U1NoE5Tvw&usqp=CAU") no-repeat;
  background-size: 100% 70%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #716f6f;
  transition: 0.5s;
  cursor: pointer;
}
.parentContainer .image-slider .slide-div.active {
  position: absolute;
  width: 240px;
  height: 350px;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
}
.parentContainer .image-slider .slide-div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.parentContainer .image-slider .slide-div .progress_bar_wrap {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #848380;
}
.parentContainer .image-slider .slide-div .progress_bar_wrap .progress_bar {
  width: 0;
  height: 5px;
  border-radius: 10px;
  background: #fff;
}
.parentContainer .image-slider .card_controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parentContainer .image-slider .card_controls .profile {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 14px;
}
.parentContainer .image-slider .card_controls .profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.parentContainer .image-slider .yours {
  color: #f1f1f1;
}
.parentContainer .image-slider .time {
  color: #a4a1a1;
}
.parentContainer .image-slider .controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.parentContainer .image-slider .song-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  position: absolute;
  -moz-column-gap: 15px;
       column-gap: 15px;
  bottom: 10px;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translateX(-50%);
}
.parentContainer .image-slider .song-wrapper .comment-input {
  outline: none;
  padding: 15px 40px;
  border-radius: 30px;
  border: 1px solid #848380;
}
.parentContainer #slider-span1:target ~ .image-slider #img1,
.parentContainer #slider-span1:target ~ .image-slider #button-1 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
.parentContainer #slider-span2:target ~ .image-slider #img2,
.parentContainer #slider-span2:target ~ .image-slider #button-2 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
.parentContainer #slider-span3:target ~ .image-slider #img3,
.parentContainer #slider-span3:target ~ .image-slider #button-3 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
.parentContainer #slider-span4:target ~ .image-slider #img4,
.parentContainer #slider-span4:target ~ .image-slider #button-4 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
.parentContainer #slider-span5:target ~ .image-slider #img5,
.parentContainer #slider-span3:target ~ .image-slider #button-5 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
.parentContainer #slider-span1:target ~ .image-slider {
  left: 70%;
}
.parentContainer #slider-span2:target ~ .image-slider {
  left: 50%;
}
.parentContainer #slider-span2:target ~ .image-slider #slider-span3:target ~ .image-slider {
  left: 25%;
}
.parentContainer #slider-span2:target ~ .image-slider #slider-span4:target ~ .image-slider {
  left: -25%;
}
.parentContainer #slider-span2:target ~ .image-slider #slider-span5:target ~ .image-slider {
  left: -50%;
}
.parentContainer #slider-span2:target ~ .image-slider #slider-span5:target ~ .image-slider {
  left: -70%;
}/*# sourceMappingURL=style.css.map */